/* Copyright 2013 Martin Schnabel. All rights reserved.
   Use of this source code is governed by a BSD-style
   license that can be found in the LICENSE file.*/

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
header {
	font-family: Ubuntu, Arial, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 4px #000;
	letter-spacing: 1px;
	background-color: rgba(127, 127, 127, 0.3);
	position: fixed;
}